<!DOCTYPE html>
<html ng-app = 'myApp'>

  <head>
    <meta charset="utf-8">
    <script src="vendors/angular.min.js" type="text/javascript"></script>
    <script src="scripts/script.js" type="text/javascript"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
    <title>Add Hero</title>
  </head>
  <body align="center">
    <div ng-include="'partials/nav.html'"></div>
    <div ng-controller = 'addController'>
    <div class="container">
      <h3>Add Hero</h3>
      <input type= "text" ng-model= "aliasBinder" value= "" placeholder="alias" required>
      <input type= "text" ng-model= "firstNameBinder" value= "" placeholder="first name">
      <input type= "text" ng-model= "lastNameBinder" value= "" placeholder="last name">
      <input type= "text" ng-model= "cityBinder" value= "" placeholder="city">
      <input type= "text" ng-model= "powerNameBinder" value= "" placeholder="power name">
      <button type="button" name="subButton" class="smallButton" ng-click= "addHero()" >Add Hero</button>
      <p> </p>
      <p> </p>
    </div>
  </div>
  </body>
</html>
