<!DOCTYPE html>
<html ng-app = 'myApp'>
 <head>
   <meta charset="utf-8">
   <title>Heroes Manager</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" charset="utf-8">
    <link rel="stylesheet" href="css/stylesheet.css" charset="utf-8">
   <script src="vendors/angular.min.js" type="text/javascript"></script>
   <script src="scripts/script.js" type="text/javascript"></script>
 </head>
 <body align="center">
   <div ng-include="'partials/nav.html'"></div>
     <h1><img ng-src="https://s31.postimg.org/d5x59febf/starcircle.png"></img> Hero Manager <img ng-src="https://s31.postimg.org/d5x59febf/starcircle.png"></img></h1>
</body>
</html>
